@use 'sass:math';
@import '../../../../styles/settings.scss';

.product {
  display: flex;
  flex-wrap: wrap;
  margin: ($base-size * 6) ($base-size * 3);
  background: #fff;
  padding: ($base-size * 2) $base-size;
  position: relative;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  height: 100%;
}