$color-light: #fff;
$color-dark: #1D1F22;
$color-success: #26de81;
$color-warning: #e1644e;
$color-outofstock: #8D8F9A;

$font-text: 'Poppins', sans-serif;

$radius: 20px;
$base-size: 12px;
$transition: all 0.5s;
$box-shadow: 0 0 50px rgb(0 0 0 / 50%);
$background-gradient: linear-gradient(to right, #8e2de2, #4a00e0);