@import '../../../styles/settings.scss';

.cartTitle {
  margin: 50px 100px 80px 100px;
  display: flex;
  position: relative;
  text-transform: uppercase;
  color: $color-dark;
  cursor: default;
}

.cartTitle h1 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
}