.product {
  // display: inline-block;
  // width: 33%;
  // // height: 500px;
  // padding: 50px;
  // background-color: green;
  // // border: 1px solid;
  // margin: 2px;
  // align-items: center;
  // position: relative;
  // top: 30px;
  // // height: 100%;
  // border: 1px solid #ddd;
  // border-radius: 4px;
  // // padding: 5px;
  // // width: 150px;
  display: inline-flex;
  // flex-direction: row;
  // align-items: flex-start;
  // padding: 0px;
  padding: 60px 40px;
  // flex: 1;
  // margin: 0px;
  // position: relative;
  width: 33%;
  height: 564px;
  // align-items: stretch;
  // column-count: 3;

}
