@use 'sass:math';
@import '../../../../../../styles/settings.scss';

.sizes {
  padding-top: 30px;
}

.sizes h3{
  padding-bottom: 0px;
}

.optionLabel {
  margin: 0;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  cursor: default;
}

.choices {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;

  button {
    width: 63px;
    height: 45px;
    left: 929px;
    top: 299px;
    color: $color-dark;
    box-sizing: border-box;
    color: inherit;
    font: inherit;
    background: $color-dark;
    padding: $base-size;
    margin: math.div($base-size, 2.5) $base-size;
    background: $color-light;
    min-width: $base-size * 3;
    min-height: $base-size * 3;
    text-align: center;
    cursor: pointer;
    transition: $transition;

    &.active {
      opacity: 1;
      background: $color-dark;
      color: $color-light;
    }

    &:first-child {
      margin-left: 0;
    }
  }
}