.currenciesDiv {
  display: inline-block;
  position: relative;
  top: 90px;
  transform: translateX(-10%);
  float: none;
  z-index: 4;
}

.currenciesDiv ul {
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
  height: 100%;
}