@import '../../../../../styles/settings.scss';

.currencyIcon {
  border: none;
  background-color: $color-light;
  cursor: pointer;
}

.currencyContainer {
  display: inline-block; 
  // position: relative;
  position: absolute;
  align-items: center;
  padding: 0px;
  gap: 22px;
  height: 100%;
  width: auto;
  overflow: visible;
  
  right: 50px;
}

// .active {
//   display: none;
//   height: 1000%;
// }

.currenciesDiv {
  display: inline-block;
  // display: none;
  position: relative;
  top: 90px;
  transform: translateX(25%);
  // border: 1px solid;
  float: none;
  z-index: 1;
}

.currenciesDiv ul {
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
  height: 100%;
}

.buttonDiv:hover {
  background: $color-success;
}

.buttonClass {
  width: 114px;
  height: 45px;
  border: none;
  background-color: $color-light;
}

.buttonClass img {
  transform: translateX(40%);
}

.buttonClass:hover {
  background: #EEEEEE;
}

.currency {
  display: flex;
}