@import '../../styles/settings.scss';

.productsContainer {
  margin: 0px 100px;
  max-height: 700px;
  min-height: 320px;
  overflow: auto;
  overflow-x: hidden;
}

.productsContainer::-webkit-scrollbar {
  width: 7px;
  background: $color-light;
}

.productsContainer::-webkit-scrollbar-thumb {
  background-color: $color-outofstock;
  border-radius: 30px;
}