@import '../../../styles/settings.scss';

.orderButtonDiv {
  margin: 0px 100px;
}

.orderButton {
  display: flex;
  align-items: center;
  color: $color-light;
  background-color: #5ECE7B;
  border: none;
  cursor: pointer;
  width: 279px;
  height: 53px;

  &:hover {
    background: darken($color-success, 5%);
  }
}

.order {
  width: 100%;
  display: flex;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 550;
  font-size: 17px;
  line-height: 120%;
  transform: translateX(40%);
}