@import '../../../../../../styles/settings.scss';

.description {
  width: 292px;
  height: 103px;
  left: calc(50% - 292px/2 + 355px);
  bottom: 178px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 159.96%;

  color: $color-dark;

  cursor: default;
}